
/* Header */
#header-img {
    width: 100%;
    background-size: cover; 
    background-position: center; 
    height: 180px;
}

/* Headings and body */
h1 {
    font-size: 30px !important;
    font-weight: 100 !important;
    color: #005453;
    padding-top: 30px;
    padding-bottom: 20px;
    
}

body {
    background-color: #F8F8F2 !important;  
}
.likert-scale input[type="radio"] {
    display: none; /* Hide the default radio buttons */
}

.likert-scale label {
    display: inline-block;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    background-color: #eee;
    text-align: center;
    line-height: 40px; /* Center text vertically */
    margin-right: 5px; /* Adjust margin as needed */
    cursor: pointer;
}

.likert-scale input[type="radio"]:checked + label {
    background-color: #00C7C4; /* Change background color when checked */
    color: #fff; /* Change text color when checked */
}
.btn {
    background-color: #00C7C4 !important;
    color: #fff !important;
    border-color: #00C7C4 !important;
}

.btn:hover {
    background-color: #009b99 !important; /* Change color on hover if needed */
    border-color: #009b99 !important; /* Change border color on hover if needed */
}
.btn a {
    color: inherit; /* Inherit text color from parent (button) */
    text-decoration: none; /* Remove underline */
}

